* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #fff;
    background: url(./images/2770458.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    background-color: #0897f0;
    padding: 10px;
    display: flex; /* вмикає флекси та перетворює наші дочерні елементи на лінію (обов'язкове підключення) */
    justify-content: space-around;/* рухає дочерні елементи на лінії  */
    align-items: center;/* вирівнює лінію, рухає її */
    flex-direction: row;/* змінює порядок елементів. column-перетворює лінію на колонку(ось у) */
}
.header__logos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header__logo-img {
    width: 70px;
    padding-left: 17px;
}
.header_logo {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.nav_link {
color: #fff;
font-size: 12px;
text-transform: uppercase;
transition: 0.8px;
padding: 10px;
position: relative; /* стає головним */
}
.nav_link::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 10%;
    background-color: aqua;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.nav_link:hover::before {
    width: 100%;
}
.nav_link:nth-child(1) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
}
.nav_link:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
}
.nav_link:nth-child(3) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
}
.nav_link:nth-child(4) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
}
.nav_link:nth-child(5) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
}
/* Between Header and Main */
.block__between {
    width: 275px;
    height: 136px;
    margin: 81px auto;
}
.txt__block-between {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
color: #fff;
}
.title__block-between {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 37px;
font-variant: all-small-caps;
color: #fff;
}
/* Main */
.main {
    margin: 0 auto;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
}
.blocks__card {
    padding-top: 13px;
}
.blocks__card:nth-child(1) {
    padding-right:  1px;
}
.blocks__card:nth-child(2) {
    padding-left:  41px;
}
.blocks__card:nth-child(3) {
    padding-left:  58px;
}
.blocks__card:nth-child(4) {
    padding-left:  10px;
}
.blocks__card:nth-child(5) {
    padding-left:  22px;
}
.blocks__card:nth-child(6) {
    padding-left:  22px;
}
.blocks__card-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 17px;
font-variant: small-caps;
color: #fff;
}
.blocks__card-info {
    font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 22px;
color: #fff;
}
.card__link {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1680ea;
    text-decoration: underline;
}
.blocks__card-image {
    width: 20px;
}
/* ----Second info block---- */
.second__info-block {
    width: 1104px;
    height: 221px;
    margin: 80px auto;
}
.info-block__txt {
    font-family: 'Kaushan Script', cursive;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #fff;
text-align: center;
}
.info-block__title {
    padding-top: 17px;
    padding-bottom: 36px;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 37px;
font-variant: all-small-caps;
color: #fff;
text-align: center;
}
.info-block__rechtangle {
    width: 60px;
    height: 4px;
    background: #F38181;
    margin-bottom: 45px;
    margin-left: 525px;
}
.info-block__info {
    font-family: 'Courier New', Courier, monospace;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 18px;
text-align: center;
color: #fff;
text-align: center;
}
/* ----Men Photos---- */
.men__photo__info {
    display: flex;
    justify-content: center;
}
.men__card {
    padding: 27px 40px;
}
.men__photo-img1 {
    border-radius: 17px;
    width: 380px;
    height: 470px;
    position: relative;
    background-image: url(./images/first-man\ 1.jpg);
}
.men__photo-img1::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #f38181ba;
    opacity: 0%;
    border-radius: 17px;
    transition: 0.5s;
}
.men__photo-img1:hover::before {
    opacity: 100%;
}
.men__photo-img2 {
    border-radius: 17px;
    width: 380px;
    height: 470px;
    position: relative;
    background-image: url(./images/second-man\ 1.jpg);
}
.men__photo-img2::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #f38181ba;
    opacity: 0%;
    border-radius: 17px;
    transition: 0.5s;
}
.men__photo-img2:hover::before {
    opacity: 100%;
}
.men__photo-img3 {
    border-radius: 17px;
    width: 380px;
    height: 470px;
    position: relative;
    background-image: url(./images/third-man\ 1.png);
}
.men__photo-img3::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #f38181ba;
    opacity: 0%;
    border-radius: 17px;
    transition: 0.5s;
}
.men__photo-img3:hover::before {
    opacity: 100%;
}
.men__name {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 17px;
text-align: center;
font-variant: all-small-caps;
color: #fff;
}
.men__info {
    font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #e69f9f;
}
.footer {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
}
.footer__txt {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #fff;
}

span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
    color: red;
}
.for__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mark__button {
    padding: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}
.link__mark {
    font-size: 45px;
    color: #fff;
}
.other__body {
    background: url(./images/wp1947904.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}